# This case study consists of 1000 marks and the solution file is expected to be submitted in the upcoming session for evaluation.

### Step 1. Import the necessary libraries

In [17]:
import numpy as np
import os
import pandas as pd

#import np.random as

### Step 2. Import the dataset chipotle.tsv.

https://s3.amazonaws.com/acadgildsite/course/masteringdatascience/session8/chipotle.tsv

Read using pd.read_csv

In [139]:
path="https://s3.amazonaws.com/acadgildsite/course/masteringdatascience/session8/chipotle.tsv" #Provide path here
chipo = pd.read_csv(path, sep = '\t') #Read file using pandas

### Step 3. See the first 10 entries

In [140]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. What is the number of observations in the dataset?

In [12]:
# Solution 1
obs = chipo.shape
obs[0]
  # entries <= 4622 observations

4622

### Step 5. What is the number of columns in the dataset?

In [13]:
obs[1]

5

### Step 6. Print the name of all the columns.

In [20]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 7. How is the dataset indexed?

In [22]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 8. Which was the most-ordered item? 

(Replace *** with proper answer)

In [47]:
c = chipo.groupby(["item_name"]) #Group by item_name 
c = c.sum()                    #Get total items using sum
c = c.sort_values(["quantity"], ascending=False) #Sort quantity in descending order
c.head(1)                  #Display the first

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 9. What was the most ordered item in the choice_description column?

In [50]:
#Same as above use choice_description
# Diet Coke 159
d = chipo.groupby(["choice_description"]) #Group by item_name 
d = d.sum()                    #Get total items using sum
d = d.sort_values(["quantity"], ascending=False) #Sort quantity in descending order
d.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 10. How many items were ordered in total?

In [52]:
chipo.quantity.sum()

4972

### Step 11. Turn the item price into a float

#### Step 11.a. Check the item price type

In [98]:
chipo["item_price"].dtype

dtype('O')

#### Step 11.b. Change the type of item price

In [141]:
#Remove $ sign attched with item price
price_lst=chipo["item_price"].replace('\$','',regex=True).astype(float)
chipo["item_price"]=price_lst
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

#### Step 11.c. Check the item price type

In [142]:
chipo.item_price.dtype

dtype('float64')

### Step 12. How much was the revenue for the period in the dataset?

In [149]:
#here revenue  = quantity * item_price
cost=[]
for i in range(len(chipo.index+1)):
    cost.append(chipo.quantity[i]*chipo.item_price[i])
revenue=sum(cost)
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### Step 13. How many orders were made in the period?

In [17]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 14 What is the average revenue amount per order?

In [170]:
# Solution 1

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['revenue']).head()
#Take Mean of order_grouped and select revenue column 21.394231188658654

### Step 15. How many different items are sold?

In [20]:
chipo.item_name.value_counts().count()

50

### Step 16. How many products cost more than $10.00? Please follow the comment.

Replace  **  with proper ans

In [21]:
# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(****)

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[****]

chipo_one_prod[****].item_name.nunique()

12

In [253]:
chipo_filtered = chipo.drop_duplicates(["item_name","quantity"])
# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered.item_price>10 #chipo_filtered["quantity"]==1, [chipo.item_price>10]
#chipo_one_prod.head(15)
#chipo_one_prod[chipo_filtered].item_name.nunique()
chipo_one_prod[:2].item_name.nunique()

AttributeError: 'Series' object has no attribute 'item_name'

### Step 17. What is price of each item with most to least expensive? 
###### Select a data frame with only two columns item_name and item_price

In [234]:
# select only the item_name and item_price columns
price_per_item = chipo_one_prod[{"item_name","item_price"}]

# sort the values from the most to less expensive
price_per_item.sort_values('item_price',ascending=False).head()

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75

### Step 18. Sort by the name of the item

In [236]:
chipo.sort_values('item_name').head(10)

,order_id,quantity,item_name,choice_description,item_price,revenue
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,25.96
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
3422,1373,1,6 Pack Soft Drink,[Coke],6.49,6.49
553,230,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1916,774,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1922,776,1,6 Pack Soft Drink,[Coke],6.49,6.49
1937,784,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49

### Step 19. How many times were a Veggie Salad Bowl ordered?

In [25]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

### Step 20. How many times people orderd more than one Canned Soda?

In [238]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20